.postView {
  border-top: 1px solid grey;
  padding: 15px;
  font-size: 14px;
  color: grey;
  line-height: 21px;
}

.postView .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #009a61;
}

.postView textarea {
  width: 100%;
}

